@import "../../variables";
.navbarMenuButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  width: 95%;
  height: $landing-navbar-height;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  .linkContainer {
    display: flex;
    flex-direction: row;
    .item {
      color: $secondary-color !important;
    }
  }
  .open.menuButtonBurger {
    transform: translateX(-50px);
    box-shadow: none;
    background: transparent;
    &::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    &::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
  .menuButtonBurger {
    width: 50px;
    height: 6px;
    background: $secondary-color;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(47, 255, 217, 0.2);
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 6px;
      background: $secondary-color;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
    }
    &::before {
      transform: translateY(-16px);
      box-shadow: 0 2px 5px rgba(47, 255, 217, 0.2);
    }
    &::after {
      transform: translateY(16px);
      box-shadow: 0 2px 5px rgba(47, 255, 217, 0.2);
    }
  }
}
