@import "../../variables";

$hamburger-height: 3px;
$hamburger-width: 40px;
$hamburger-distance: 13px;
.navbarMenuButton {
  z-index: 1000000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: $landing-navbar-height;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  // background-color: #131515;
  .image {
    margin-left: 40px;
    z-index: 1000;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    .linkContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .item.mainText {
        color: $secondary-color !important;
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
    .open.menuButtonBurger {
      transform: translateX(-50px);
      box-shadow: none;
      background: transparent;
      &::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      &::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    }
    .menuButtonBurger {
      margin-right: 40px;
      width: $hamburger-width;
      height: $hamburger-height;
      background: $secondary-color;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 2px 5px rgba(47, 255, 217, 0.2);
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: $hamburger-width;
        height: $hamburger-height;
        background: $secondary-color;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
      }
      &::before {
        transform: translateY(-$hamburger-distance);
        box-shadow: 0 2px 5px rgba(47, 255, 217, 0.2);
      }
      &::after {
        transform: translateY($hamburger-distance);
        box-shadow: 0 2px 5px rgba(47, 255, 217, 0.2);
      }
    }
  }
}
