@import "../../variables";
.mainDiv {
  margin-top: $landing-navbar-height;
  font-family: $primary-font;
  min-height: 80vh;
  width: 80%;
  font-weight: 300;
  z-index: 1000;
  .childDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .hi {
      font-size: 5rem;
      color: $light-text-color;
      width: fit-content;
      .strikethrough:hover {
        color: $secondary-color;
      }
      .strikethrough:after {
        height: 5px;
        margin-top: -2.7rem;
        background: $secondary-color;
      }
      @include responsive(f1) {
        font-size: 4.5rem;
        .strikethrough:after {
          height: 0;
        }
      }
      @include responsive(f2) {
        font-size: 4rem;
      }
      @include responsive(f3) {
        font-size: 3.1rem;
      }
      @include responsive(f4) {
        font-size: 2.2rem;
      }
      @include responsive(f5) {
        font-size: 1.9rem;
      }
      @include responsive(f6) {
        font-size: 1.5rem;
      }
      .bold {
        font-weight: 500;
        padding: 10px;
      }
    }
    .description {
      margin-top: 10px;
      width: 100%;
      color: $secondary-color;
      font-size: 1.7rem;
      .strikethrough:hover {
        color: $light-text-color;
      }
      .strikethrough:after {
        height: 1.4px;
        margin-top: -1rem;
        background: $light-text-color;
      }
      @include responsive(f1) {
        font-size: 1.5rem;
        .strikethrough:hover {
          color: $light-text-color;
        }
        .strikethrough:after {
          height: 0px;
        }
      }
      @include responsive(f2) {
        font-size: 1.3rem;
      }
      @include responsive(f3) {
        font-size: 1.1rem;
      }
      @include responsive(f4) {
        font-size: 0.9rem;
      }
    }
    .links {
      padding-top: 30px;
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      .right {
        justify-content: flex-end;
        .link {
          color: $secondary-color;
          transition: 0.2s ease-in-out;
          &:hover {
            color: $light-text-color;
          }
        }
        @include responsive(f1) {
          justify-content: flex-start;
        }
      }
      @include responsive(f1) {
        // justify-content: center;
      }
      .left {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      a {
        .link {
          // margin-right: 10rem;
          color: $secondary-color;
          transition: 0.2s ease-in-out;
          &:hover {
            color: $light-text-color;
          }
        }
      }
    }
  }
}

/* Strikethrough */

.strikethrough {
  display: inline-block;
  position: relative;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.strikethrough:after {
  content: "";
  width: 100%;
  position: absolute;
  display: block;
  transform-origin: center left;
  animation: strikethrough 1s 0.5s cubic-bezier(0.55, 0, 0.1, 1) 1;
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.strikethrough:hover {
  color: $secondary-color;
}

.strikethrough:hover:after {
  transform: scaleX(0);
  transform-origin: center right;
}

/* Keyframes for initial animation */

@keyframes strikethrough {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
