@import "../../variables";
.mainDiv {
  margin-top: $landing-navbar-height;
  font-family: $primary-font;
  min-height: 80vh;
  width: 80%;
  font-weight: 300;
  .childDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .hi {
      font-size: 5rem;
      color: $light-text-color;
      width: fit-content;
      .bold {
        font-weight: 500;
        padding: 10px;
      }
      .strikethrough:hover {
        color: $secondary-color;
      }
      .strikethrough:after {
        height: 5px;
        margin-top: -2.7rem;
        background: $secondary-color;
      }
    }
    .description {
      margin-top: 10px;
      width: 100%;
      color: $secondary-color;
      font-size: 1.7rem;
      .strikethrough:hover {
        color: $light-text-color;
      }
      .strikethrough:after {
        height: 1.4px;
        margin-top: -1rem;
        background: $light-text-color;
      }
    }
    .links {
      padding-top: 30px;
      display: flex;
      width: 50%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .link {
        color: $secondary-color;
      }
    }
  }
}

/* Strikethrough */

.strikethrough {
  display: inline-block;
  position: relative;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.strikethrough:after {
  content: "";
  width: 100%;
  position: absolute;
  display: block;
  transform-origin: center left;
  animation: strikethrough 1s 0.5s cubic-bezier(0.55, 0, 0.1, 1) 1;
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.strikethrough:hover {
  color: $secondary-color;
}

.strikethrough:hover:after {
  transform: scaleX(0);
  transform-origin: center right;
}

/* Keyframes for initial animation */

@keyframes strikethrough {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
