@import "../../variables";
.mainSection {
  min-height: 120vh;
  max-width: 100vw;
  overflow-x: hidden;
  .headingDiv {
    margin-top: 200px;
    white-space: nowrap;
  }
  .imageDiv {
    height: 300px;
    width: 300px;
    margin: 200px auto;
    background-color: red;
  }
}
