.mainSection {
  .headingDiv {
    margin: 23px auto;
    font-size: 5rem;
    height: 100px;
  }
  .imageDiv {
    height: 300px;
    width: 300px;
    margin: 200px auto;
    background-color: red;
  }
}
