@import "../variables";
.mainTitle {
  position: relative;
  top: 0;
  color: tœransparent;
  z-index: -100;
  font-size: 12.25rem;
  font-weight: bold;
  white-space: nowrap;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: $secondary-color;
}
