@import "../variables";
.mainTitle {
  position: relative;
  top: 0;
  color: transparent;
  z-index: -100;
  font-size: 13.25rem;
  font-weight: bold;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: $secondary-color;
}
