$primary-bg: #131515;
$secondary-color: #32cfa5;
$light-text-color: #ffffff;
$dark-text-color: #181818;
$primary-font: "Inter", sans-serif;

@mixin responsive($breakpoint) {
  @if $breakpoint==f0 {
    @media only screen and (max-width: 1250px) {
      @content;
    }
  }
  @if $breakpoint==f1 {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint==f2 {
    @media only screen and (max-width: 650px) {
      @content;
    }
  }
  @if $breakpoint==f3 {
    @media only screen and (max-width: 550px) {
      @content;
    }
  }
  @if $breakpoint==f4 {
    @media only screen and (max-width: 450px) {
      @content;
    }
  }
  @if $breakpoint==f5 {
    @media only screen and (max-width: 350px) {
      @content;
    }
  }
  @if $breakpoint==f6 {
    @media only screen and (max-width: 250px) {
      @content;
    }
  }
}

// NAVBAR
$landing-navbar-height: 80px;

// Max width of the container
// $container-max-width: 1400px;
