@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  max-width: 100vw;
  font-family: $primary-font;
  background-color: $primary-bg !important;
  color: $light-text-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
