@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: $primary-font;
  background-color: $primary-bg !important;
  color: $light-text-color;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}
