@import "../../variables";
.mainDiv {
  font: $primary-font;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 4%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .textDiv {
    font-weight: 300;
    transform: rotate(-90deg);
    font-size: 0.75rem;
  }
  .line {
    margin: 30px 90px;
    background-color: $secondary-color;
    width: 0.5px;
    height: 40px;
  }
}
