@import "../../variables";

.mainDiv {
  margin: auto;
  width: 80%;
  height: $landing-navbar-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .leftSide,
  .rightSide {
    color: $secondary-color;
    transition: 0.3s ease;
    &:hover {
      color: $light-text-color;
    }
  }
  @include responsive(f1) {
    display: none;
  }
}
