@import "../../variables";
.mainHeading {
  font-family: $primary-font;
  color: $light-text-color;
  font-size: 3.5rem;
  font-weight: medium;
  margin-bottom: 50px;
  @include responsive(f0) {
    font-size: 3rem;
    margin-bottom: 40px;
  }
  @include responsive(f1) {
    font-size: 2.4rem;
    margin-bottom: 30px;
  }
  @include responsive(f2) {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  @include responsive(f3) {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
}
